<div class="m_9021616504479142484card"
    style="background:#ffffff;border:1px solid #e7ebf0;box-sizing:border-box;border-radius:5px;padding:20px;display:inline-block;max-width:500px;letter-spacing:0.12px;color:#627489">
    <div
        style="font-weight:bold;font-size:20px;line-height:120%;letter-spacing:0.24px;color:#061431;display:inline-block">
        Account Activation </div><br>
    <div style="margin-top:24px;margin-bottom:24px;display:inline-block;text-align:left">
        <h3><p> Hi  <span style="font-weight:bold">{{ user.username }}</span> </p></h3>
    </div> <br>
</div>
<button
    href="{{ domain }}/activate/{{ uid }}/{{ token }}"
    title="Account Activation"
    style="font-weight:bold;font-size:16px;line-height:20px;letter-spacing:0.4px;color:#ffffff;
    background:#0182ff;border-radius:5px;display:inline-block;padding:18px 32px;text-decoration:none"
    target="_blank">
    Account Activation</a>